<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <h1>Add Ingredient Successfully!</h1>
    <table border-spacing="5" style="border: 0;">
        <tr>
            <td style="text-align: right;"><label>ID: </label></td>
            <td style="text-align: left;"><label th:text="${ingredient.id}"></label></td>
        </tr>
        <tr>
            <td style="text-align: right;"><label>Name: </label></td>
            <td style="text-align: left;"><label th:text="${ingredient.name}"></label></td>
        </tr>
        <tr>
            <td style="text-align: right;"><label>Type: </label></td>
            <td style="text-align: left;"><label th:text="${ingredient.type}"></label></td>
        </tr>
    </table>
    <p>To enter another Ingredient, click on the Back <br>
        button in your browser or the Return button shown <br>
        below.</p>
    <form action="/ingredient/add" method="get">
        <input type="submit" value="Return">
    </form>
</body>
</html>